body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
}

h1 {
  font-family: "Shrikhand", cursive;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px -1px 2px lightgray;
  background-color: hsl(0deg, 0%, 100%);
}
header img {
  width: 40%;
  margin: 5% 0% 3%;
}

.location {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color: hsl(0deg, 0%, 90%);
  font-size: large;
}

.main-second {
  margin: 4%;
}

.explore {
  text-align: center;
  background-color: hsl(0deg, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 9%;
}
.explore h2 {
  font-size: 230%;
  margin-bottom: 0%;
}
.explore > p {
  font-size: 150%;
}
.explore .button {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 25px;
  padding: 0.3% 6%;
  margin-bottom: 50px;
  color: #fff;
  box-shadow: 0 3px 8px gray;
}

.functioning {
  background-color: hsl(0deg, 0%, 100%);
  padding: 4% 4% 16% 4%;
}

.functioning__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.content__item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px hsl(0deg, 0%, 95%);
  width: 90%;
  padding: 1%;
  background-color: hsl(0deg, 0%, 97%);
  font-weight: 600;
}
.content__item:hover {
  background-color: hsl(267deg, 66%, 96%);
}
.content__item div {
  background-color: #9356dc;
  color: #fff;
  padding: 1% 1.9%;
  border-radius: 70px;
  margin-left: -14px;
}

.content__item:hover i {
  color: #9356dc;
}

.restaurant__item {
  box-shadow: 0px 1px 10px lightgray;
  border-radius: 20px;
  margin: 4% 0%;
  position: relative;
}
.restaurant__item .new {
  position: absolute;
  right: 3%;
  top: 4%;
  background-color: #99e2d0;
  color: hsl(165deg, 56%, 40%);
  padding: 1.5%;
  font-weight: 600;
}

.restaurant__item-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurant__item-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5% 4% 3%;
}
.restaurant__item-text h3 {
  margin: 0%;
}
.restaurant__item-text p {
  margin: 0%;
}
.restaurant__item-text .fa-heart {
  font-size: 25px;
}
.restaurant__item-text .fa-solid {
  position: absolute;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 5%;
  opacity: 0;
}
.restaurant__item-text .fa-solid:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.header-menu {
  display: flex;
  justify-content: left;
}
.header-menu a {
  margin: 0% 20% 0% 5%;
  align-self: center;
}
.header-menu a .fa-arrow-left {
  font-size: 25px;
}

.background img {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: rgb(246, 246, 246);
  padding: 3% 5%;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -40px;
}

.menu > p::after {
  content: "";
  display: block;
  position: absolute;
  width: 4%;
  height: 3px;
  background-color: #99e2d0;
}

.menu__item {
  background-color: #fff;
  box-shadow: 0px 1px 10px hsl(0deg, 0%, 85%);
  border-radius: 20px;
  padding: 7px 20px 13px 15px;
  margin: 5% 0%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.menu__item p {
  margin: 3.5% 0% 0% 0%;
}
.menu__item h3 {
  margin: 3.5% 0%;
}
.menu__item .check {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 5.5%;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  opacity: 0;
}
.menu__item .check .fa-circle-check {
  font-size: 25px;
  color: #fff;
}
.menu__item:hover .check {
  opacity: 1;
}

.menu-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-restaurant .fa-heart {
  margin-right: 4%;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 13% 0% 0% 0%;
}

.button-menu {
  width: 40%;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  display: flex;
  justify-content: center;
  padding: 3.5%;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 3px 8px gray;
  cursor: pointer;
}

footer {
  margin-top: 10%;
  background-color: hsl(0deg, 0%, 20%);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 5% 5% 10% 5%;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
}
footer div {
  display: flex;
  gap: 10px;
}

.footer-logo img {
  width: 33%;
}

@media all and (min-width: 767px) {
  header img {
    margin: 3% 0% 3%;
  }
  h2 {
    font-size: 190%;
  }
  .content__item {
    gap: 25px;
    width: 85%;
    font-size: 130%;
  }
  .content__item div {
    background-color: #9356dc;
    color: #fff;
    padding: 0.5% 2%;
    margin-left: -10px;
  }
  .restaurant__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .restaurant__item {
    width: 300px;
    flex-basis: 50%;
  }
  .header-menu a {
    margin: 0% 20% 0% 5%;
    align-self: center;
  }
  .header-menu a .fa-arrow-left {
    font-size: 35px;
  }
  .menu > p::after {
    width: 4.5%;
  }
  .footer__content {
    display: flex;
    justify-content: space-evenly;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }
  .footer-logo img {
    width: 35%;
  }
}
@media all and (min-width: 993px) {
  header img {
    width: 20%;
    margin: 2%;
  }
  h2 {
    font-size: 190%;
  }
  .functioning {
    background-color: hsl(0deg, 0%, 100%);
    padding: 4% 4% 8% 4%;
  }
  .functioning__content {
    flex-direction: row;
    gap: 40px;
  }
  .content__item {
    border-radius: 25px;
  }
  .content__item div {
    background-color: #9356dc;
    color: #fff;
    padding: 0.5% 2%;
    margin-left: -21px;
  }
  .restaurant__content {
    gap: 50px;
  }
  .restaurant__item {
    width: 450px;
    flex-basis: 50%;
  }
  .header-menu a {
    margin: 0% 30% 0% 5%;
    align-self: center;
  }
  .header-menu a .fa-arrow-left {
    font-size: 25px;
  }
  .background img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main {
    border-radius: 60px 60px 0px 0px;
    top: -50px;
  }
  .menu-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 1%;
  }
  .menu > p::after {
    width: 3%;
  }
  .menu .menu__item {
    border-radius: 20px;
    margin: 2% 0%;
  }
  .button-container {
    margin: 8% 0% 0% 0%;
  }
  .button-menu {
    width: 25%;
    padding: 2%;
    font-size: large;
  }
  footer {
    margin-top: 5%;
    padding: 2% 5% 5% 5%;
  }
  .footer-logo img {
    width: 20%;
  }
}/*# sourceMappingURL=main.css.map */