$primary: #9356dc;
$sondary: #ff79da;
$tertiary: #99e2d0;
$gradiant: linear-gradient(180deg, $sondary 0%, $primary 100%);
@mixin button {
  color: #fff;
  box-shadow: 0 3px 8px gray;
  background: $gradiant;
  cursor: pointer;
}

// keyframe menu
@keyframes load {
  0% {
    opacity: 1;
    background-color: hsla(0, 0%, 95%, 1);
  }
  90% {
    background-color: hsla(0, 0%, 95%, 0.5);
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes load-first {
  0% {
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes shadow {
  0% {
  }
  40% {
    opacity: 0;
  }
  100% {
  }
}
@keyframes menu-animation {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
// loadpage
.load {
  width: 100%;
  height: 100vh;
  padding: 0% 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: load 3s forwards;
  opacity: 0;
  &__bar {
    background: linear-gradient(180deg, $sondary 0%, $primary 100%);
    height: 60px;
    width: 20px;
    &--1 {
      border-radius: 10px 0px 0px 10px;
      position: relative;
    }
    &--1,
    &--3,
    &--5 {
      animation: load-first 0.7s infinite cubic-bezier(0.57, 0.05, 0.45, 0.86);
    }
    &--2,
    &--4 {
      animation: load-first 0.7s 0.3s infinite
        cubic-bezier(0.57, 0.05, 0.45, 0.86);
    }
    &--5 {
      border-radius: 0px 10px 10px 0px;
    }
    &--6 {
      position: absolute;
      background: none;
      border: none;
      top: 49%;
      left: 41.5%;
      color: #fff;
    }
  }
  .shadow {
    position: absolute;
    height: 1%;
    width: 20px;
    top: 57%;
    border-radius: 5px;
    background-color: hsl(0, 0%, 70%);
    filter: blur(1px);
    animation: shadow;
    &--1 {
      left: 39.9%;
    }
    &--2 {
      left: 43.5%;
    }
    &--4 {
      left: 52.5%;
    }
    &--5 {
      left: 56.5%;
    }
    &--1,
    &--3,
    &--5 {
      animation: shadow 0.7s infinite cubic-bezier(0.57, 0.05, 0.45, 0.86);
    }
    &--2,
    &--4 {
      animation: shadow 0.7s 0.3s infinite cubic-bezier(0.57, 0.05, 0.45, 0.86);
    }
  }
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 300%;
}

// header start

header {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px -1px 2px lightgray;
  background-color: hsl(0, 0%, 100%);
}

// header end

// main start
.location {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color: hsl(0, 0%, 90%);
  font-size: large;
}

.main-second {
  margin: 4%;
}
.explore {
  text-align: center;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 9%;
  h2 {
    font-size: 230%;
    margin-bottom: 0%;
  }
  > p {
    font-size: 150%;
  }
  button {
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: larger;
    padding: 3.5%;
    @include button;
    &:hover {
      opacity: 0.9;
      transition: opacity 0.5s;
      box-shadow: 0 3px 8px hsl(0, 0%, 30%);
    }
  }
}

.functioning {
  background-color: hsl(0, 0%, 100%);
  padding: 4% 4% 16% 4%;
}
.functioning__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.content__item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px hsl(0, 0%, 95%);
  width: 90%;
  padding: 1%;
  background-color: hsl(0, 0%, 97%);
  font-weight: 600;
  &:hover {
    background-color: hsl(267, 66%, 96%);
  }
  // number
  div {
    background-color: $primary;
    color: #fff;
    padding: 1% 1.9%;
    border-radius: 70px;
    margin-left: -14px;
  }
}

.content__item:hover i {
  color: $primary;
}

.restaurant__content {
  max-width: 1400px;
  margin: 0 auto;
}

.restaurant__item {
  box-shadow: 0px 1px 10px lightgray;
  border-radius: 20px;
  margin: 4% 0%;
  position: relative;
  .new {
    position: absolute;
    right: 3%;
    top: 4%;
    background-color: $tertiary;
    color: hsl(165, 56%, 40%);
    padding: 1.5%;
    font-weight: 600;
  }
}
.restaurant__item-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__item-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5% 4% 3%;
  h3 {
    margin: 0%;
  }
  p {
    margin: 0%;
  }
  .fa-heart {
    font-size: 25px;
  }
  .fa-solid {
    position: absolute;
    background: linear-gradient(0deg, $sondary 0%, $primary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 5%;
    opacity: 0;
    &:hover {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}

// menu page start
.header-menu {
  display: flex;
  justify-content: left;
  // h1 {
  //   font-size: 100%;
  // }
  a {
    .fa-arrow-left {
      font-size: 25px;
      cursor: pointer;
    }
    margin: 0% 10% 0% 5%;
    align-self: center;
  }
}

.background {
  img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
}

.main-menu {
  background-color: rgb(246, 246, 246);
  padding: 3% 5%;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -40px;
}

.menu {
  > p {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 8%;
      height: 3px;
      background-color: $tertiary;
    }
  }
}

.menu__item {
  background-color: #fff;
  box-shadow: 0px 1px 10px hsl(0, 0%, 85%);
  border-radius: 20px;
  padding: 7px 20px 13px 15px;
  margin: 5% 0%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
  animation: menu-animation 1.3s both;
  p {
    margin: 10px 0% 0% 0%;
  }
  h3 {
    margin: 10px 0%;
  }
  .check {
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: $tertiary;
    border-radius: 0px 20px 20px 0px;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0px;
    .fa-circle-check {
      transform: rotate(-180deg);
      transition: transform 500ms ease-in-out;
      font-size: 25px;
      color: #fff;
    }
  }
  &:hover .check {
    opacity: 1;
    width: 65px;
    transition: width 0.3s ease-out;
    .fa-circle-check {
      transform: rotate(0deg);
    }
  }
  &:hover {
    .menu__text {
      width: 74%;
      white-space: nowrap;
      overflow: hidden;
      .text__ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .menu__price {
      transform: translateX(-55px);
      transition: transform 0.35s;
    }
  }
}
.menu-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fa-heart {
    font-size: 30px;
  }
  .fa-solid {
    position: absolute;
    background: linear-gradient(0deg, $sondary 0%, $primary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 4.98%;
    opacity: 0;
    &:hover {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 13% 0% 0% 0%;
  button {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 3.5%;
    border-radius: 50px;
    font-size: larger;
    @include button;
    &:hover {
      opacity: 0.9;
      transition: opacity 0.5s;
      box-shadow: 0 3px 8px hsl(0, 0%, 30%);
    }
  }
}
// menu page end

// main end

// footer start

footer {
  margin-top: 10%;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5% 5% 10% 5%;
}

.footer-logo {
  img {
    width: 33%;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  div {
    cursor: pointer;
  }
  i {
    width: 13px;
    margin-right: 15px;
  }
}

// footer end

// responsive start

// tab start
@media all and (min-width: 767px) {
  .load {
    &__bar {
      &--6 {
        left: 45%;
      }
    }
    .shadow {
      &--1 {
        left: 43.9%;
      }
      &--2 {
        left: 46.5%;
      }
      &--4 {
        left: 51.5%;
      }
      &--5 {
        left: 54%;
      }
    }
  }

  // header start
  header {
    img {
      margin: 3% 0% 3%;
    }
  }

  // header end

  // main start
  h2 {
    font-size: 190%;
  }

  // functionning
  .content__item {
    gap: 25px;
    width: 85%;
    font-size: 130%;
    div {
      background-color: $primary;
      color: #fff;
      padding: 0.5% 2%;
      margin-left: -10px;
    }
  }

  .restaurant__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .restaurant__item {
    width: 300px;
    flex-basis: calc(100% / 2);
  }

  // main end

  // menu page start
  .header-menu {
    a {
      .fa-arrow-left {
        font-size: 35px;
      }
      margin: 0% 20% 0% 5%;
      align-self: center;
    }
  }

  .menu {
    > p {
      &::after {
        width: 5%;
      }
    }
  }

  // footer start

  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    img {
      width: 35%;
    }
  }

  // footer end
}

// tab end

// desktop start

@media all and (min-width: 993px) {
  .load {
    &__bar {
      &--6 {
        left: 47.5%;
      }
    }
    .shadow {
      top: 54%;
      &--1 {
        left: 46.5%;
      }
      &--2 {
        left: 47.9%;
      }
      &--4 {
        left: 50.8%;
      }
      &--5 {
        left: 52%;
      }
    }
  }

  // header start
  header {
    img {
      width: 20%;
      margin: 2%;
    }
  }

  // header end

  // main start
  h2 {
    font-size: 190%;
  }

  // functionning

  .functioning {
    background-color: hsl(0, 0%, 100%);
    padding: 4% 4% 8% 4%;
  }

  .functioning__content {
    flex-direction: row;
    gap: 40px;
  }
  .content__item {
    border-radius: 25px;
    div {
      background-color: $primary;
      color: #fff;
      padding: 0.5% 2%;
      margin-left: -21px;
    }
  }

  .restaurant__content {
    gap: 50px;
  }
  .restaurant__item {
    width: 450px;
    flex-basis: calc(100% / 2);
  }

  // main end

  // menu page start
  .header-menu {
    a {
      margin: 0% 30% 0% 5%;
      align-self: center;
      .fa-arrow-left {
        font-size: 25px;
      }
    }
  }

  .background {
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  main {
    border-radius: 60px 60px 0px 0px;
    top: -50px;
  }

  .menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }

  .menu {
    flex-basis: calc(96% / 2);
    display: flex;
    flex-direction: column;
    gap: 1%;
    > p {
      &::after {
        width: 5%;
      }
    }
    &:nth-child(3) {
      flex-basis: 100%;
      margin: 0% 25%;
    }
  }

  .menu__item {
    border-radius: 20px;
    width: 100%;
    margin: 2% 0%;
    &:hover {
      .menu__text {
        width: 75%;
      }
    }
  }
  .button-container {
    margin: 8% 0% 0% 0%;
  }

  .button-menu {
    width: 25%;
    padding: 2%;
    font-size: large;
  }

  // menu page end

  // footer start
  footer {
    margin-top: 5%;
    padding: 2% 5% 5% 5%;
  }
  .footer-logo {
    img {
      width: 20%;
    }
  }

  // footer end
}

// desktop end

// responsive end
